#main {
  width: 80%;
  margin: 0 auto;
  background: $white;
  padding-top: 50px;

  .main-card-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
