main {
  background: $white1;
  width: 90%;
  margin: 0 auto;
  padding: 30px;
  color: $black1;

  .main-card-container {
    max-width: 90%;

    h2 {
      font-size: 2rem;
      text-transform: uppercase;
      padding: 30px;
    }
    img {
      max-width: 90%;
    }
  }
}
